h4 {
    color: blue;
}

a {
    padding-right: 20px;
}

/*
a.ui_route {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

a.ui_route:hover {
    color: firebrick;
    text-decoration: none;
}
*/